@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GHA Creation Integration Test</h1>
    <p>This is the app for ACA GHA creation integration test</a>.</p>
</div>
