@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GHA Update Integration Test</h1>
    <p>This is the app for ACA GHA update integration test</a>.</p>
</div>
